:root {

    --primary-blue: #81A6C6;
    --light-blue: #AACDDC;
    --cream: #F3E3D0;
    --beige: #D2C4B4;
    --white: #FFFFFF;
    --off-white: #F5F5F5;
    --light-gray: #DFF1F1;
    --gray-blue: #BBD5DA;
    --red: #FF0000;
    --text-dark: #222222;
    --text-gray: #666666;
    --border: #efeeee;
    --back: #efefef;
}